<div class="input-group mb-3">
  <h3><%= "Danh sách câu trả lời" %></h3>
</div>
<%= render  "layouts/flash_message" %>
<div class="single-table">
  <div class="table-responsive">
    <table class="table table-bordered text-center">
      <thead class="text-uppercase">
        <tr>
          <th scope="col"><%= "Id" %></th>
          <th scope="col"><%= "Nội dung" %></th>
        </tr>
      </thead>
      <tbody class="body-table">
        <% if @answers.length > 0 %>
          <% @answers.each_with_index do |answer, index| %>
            <tr>
              <% if params['page'].present? && params['page'] != "1" %>
                <th scope="row"><%= link_to index + 1 + (15 * (JSON.parse(params[:page]) - 1)), admin_answer_path(answer) %></th>
              <% else %>
                <th scope="row"><%= link_to index + 1, admin_answer_path(answer) %></th>
              <% end %>
              <td><%= answer.content %></td>
              <td>
                <div class="information-item">
                  <div class="icon-edit">
                    <%= link_to raw('<i class="fa fa-pencil-square-o fa-lg"></i>'), edit_admin_answer_path(answer)%>
                  </div>
                  <div class="icon-delete">
                    <%= link_to raw('<i class="fa fa-trash fa-lg delete-icon"></i>'),
                      admin_answer_path(answer),
                      method: :delete,
                      remote: true,
                      data: { confirm: "Bạn chắc chắn muốn xoá không?" }
                    %>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <%= render "layouts/will_paginate", data: @answers %>
  </div>
</div>