<div class="input-group mb-3">
  <h4>ửa<%= "Chi tiết câu trả lời" %></h4>
</div>
<%= render  "layouts/flash_message" %>
<div class="form-group">
  <label for="example-text-input" class="col-form-label"><%= "Nội dung câu trả lời" %>:</label>
  <span class="col-form-label"><%= @answers.content %></span>
</div>

<div class="form-group">
  <label for="example-text-input" class="col-form-label"><%= "Câu hỏi của câu trả lời" %>:</label>
  <table class="table table-bordered text-center">
    <thead class="text-uppercase">
      <tr>
        <th scope="col"><%= "Id" %></th>
        <th scope="col"><%= "Tiêu đề câu hỏi" %></th>
      </tr>
    </thead>
    <tbody class="body-table">
      <tr>
        <th scope="row"><%= link_to "1", admin_question_path(@question) %></th>
        <td><%= @question.title %></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="form-group">
  <%= link_to raw("<i class='fa fa-pencil-square-o fa-lg'></i><span> Sửa </span>"),
    edit_admin_answer_path(@answers),
    class: "btn btn-primary"
  %>
  <%= link_to raw("<i class='fa fa-trash fa-lg'></i><span> Xóa </span>"),
    admin_answer_path(@answers), class: "btn btn-danger",
    method: :delete,
    remote: true,
    data: { confirm: "Bạn chắc chắn muốn xoá không?" }
  %>
</div>