<%= form_for @question, url: api, method: method  do |f| %>
  <%= render  "layouts/flash_message" %>
  <div class="form-group">
    <label for="example-text-input" class="col-form-label"><%= "Tiêu đề câu hỏi"%></label>
    <span class="required">*</span>
    <%= f.text_field :title, { class: 'form-control', required: true }%>
  </div>

  <div class="answers">
    <label for="example-answer-input" class="col-form-label"><%= "Answer" %></label>
    
    <%= f.fields_for :answers do |builder| %>
      <%= render 'answer_fields', f: builder %>
    <% end %>
  </div>

  <%= link_to_add_association ('<i class="fa fa-plus fa-lg"></i>').html_safe, f, :answers,
    class: "btn-add add-icon",
    data: { association_insertion_node: '.answers', association_insertion_method: :append },
    onclick: "statusBtnDeleteIconFormCoCoon('add')"
  %>

  <div class="form-group submit-form-customer">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>