<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-t-30 p-b-50">
      <span class="login100-form-title p-b-41">
        <h2>Account Login</h2>
      </span>
      <%= form_for(resource, as: resource_name, url: admin_session_path, html: {class: "login100-form validate-form p-b-33 p-t-5"}) do |f| %>
        <div class="wrap-input100 validate-input">
          <%= f.email_field :email, autofocus: true,
              autocomplete: "email", 
              class: "input100", 
              placeholder: "User Name" %>
        </div>

        <div class="wrap-input100 validate-input">
          <%= f.password_field :password, 
              autocomplete: "current-password",
              class: "input100",
              placeholder: "Password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-check">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="container-login100-form-btn m-t-32">
          <%= f.submit "Log in", class: "login100-form-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "devise/shared/links" %>
