<!DOCTYPE html>
<html>
  <head>
    <title>SlackBotTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="page-container">
      <%= render  "layouts/sidebar" %>
      <%= render  "layouts/header" %>
      <div class="main-content-inner">
        <div class="row">
          <div class="col-12 mt-5">
            <div class="card">
              <div class="card-body">
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
